.source-code {
    background: #302F29;
    color: white;
	font-family: Monaco,DejaVu Sans Mono,Consolas,Courier New;
	line-height: 1.4em;
	overflow: auto;
}

.source-code .keyword { color: #ccc; font-weight: bold; }
.source-code .keyword.literal { color: #FC0; }
.source-code .keyword.type { color: #FC0; }
.source-code .keyword.builtin { color: #6da5ea; }
.source-code .preprocessor { color: #996; }
.source-code .comment { color: #999; }
.source-code .comment .doc { color: #999; font-weight: bold; }
.source-code .identifier { color: white; }
.source-code .string, .source-code .char { color: #87d139; }
.source-code .escaped { color: #AAA; }
.source-code .number, .source-code .tag { color: #40a070; }
.source-code .regex, .source-code .attribute { color: #31B9F4; }
.source-code .operator { color: #888; }
.source-code .keyword.operator { color: #FF8400; }
.source-code .whitespace { background: #333; }
.source-code .error { border-bottom: 1px solid red; }

.source-code .tag {color: #bb60d5; }
.source-code .tag .identifier {color: #bb60d5; }

.source-code .tag .attribute { font-style: italic; }
.source-code.xml .preprocessor .keyword { color: #996; }
.source-code.xml .preprocessor .keyword { color: #996; }
.source-code.xml .meta, .source-code.xml .meta .keyword { color: #399; }

.source-code.cpp .preprocessor .identifier { color: #996; }

.source-code::-moz-selection, .source-code span::-moz-selection {
    background: yellow;
    color: black;
}

.source-code::selection, .source-code span::selection {
    background: yellow;
    color: black;
}